/* MAIN */
html
{
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  font-family: 'Rubik', sans-serif;
  background-color: var(--site-black-color);
  /* FIREFOX SCROLLBAR */
  scrollbar-color: var(--site-red-color) var(--site-transparent-black-color);
  scrollbar-width: thin;
  /* FIREFOX SCROLLBAR */
  overflow: hidden;
  box-sizing: border-box;
}

html, body
{
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

:root
{
  --site-red-color: #f73d3d;
  --site-white-color: #ccc;
  --site-transparent-black-color: #0f1119;
  --site-black-color: #1d1f2b;
}

body
{
  position: relative;
  margin: 0;
  min-height: 100%;
}

a
{
  transition: 0.1s;
}
/* MAIN */

/* NAV */
nav
{
  overflow: hidden;
  color: var(--site-white-color);
  background-color: var(--site-transparent-black-color);
  position: sticky;
  top: 0px;
  z-index: 99;
  width: 100%;
  max-height: 35px;
  border-bottom: 1px solid var(--site-white-color);
}

nav ul
{
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

nav li
{
  display: inline-block;
  margin:0.5em;
  font-size:1em;
}

nav li img
{
  position: absolute;
  top: 0em;
  margin-top: 0.5em;
  background-color: var(--site-white-color);
  border: 2px solid var(--site-white-color);
  height:0.935em;
  border-radius: 100%;
  transition: 0.15s;
}

nav li img:hover
{
border: 2px solid var(--site-red-color);
cursor: pointer;
}

nav li a
{
  color: var(--site-white-color);
  text-decoration: none;
}

nav li a:hover
{
  color: var(--site-red-color);
  cursor: pointer;
}

nav .spacer
{
  background-color: var(--site-white-color);
  border-radius: 8px;
  opacity: 0.5;
}

nav .hamburger-menu
{
  display: none;
}
/* NAV */

/* FOOTER */
footer
{
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 100%;
  color: var(--site-white-color);
  background-color: var(--site-transparent-black-color);
  border-top: 1px solid var(--site-white-color);  
}

footer h1, h2, h3, h4, p
{
    text-align: center;
}

.prof-btns
{
  font-size: 2em;
  text-align: center;
}

.prof-btn
{
  color: gray;
  padding: 0.5em;
  transition: 0.15s;
}

.prof-btn:hover
{
  color: var(--site-red-color);
  cursor: pointer;
}

.tooltip
{
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext
{
  visibility: hidden;
  width: 7.5em;
  background-color: var(--site-white-color);
  color: var(--site-black-color);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 16px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: .075s;
  transform: scale(0.75);
  /* Center the tooltip */
}

.tooltip .tooltiptext::after
{
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -0.75em;
  border-width: 0.75em;
  border-style: solid;
  border-color: var(--site-white-color) transparent transparent;
}

.tooltip:hover .tooltiptext
{
  visibility: visible;
  opacity: 1;
  transform: scaleY(1);
}
/* FOOTER */

/* NOTIFICATION */
.notification
{
  display: none;
  position: fixed;
  padding-top: 20vh;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
}

.notification-content
{
  background-color: #e3e3e3;
  color: black;
  margin: auto;
  padding: 1.5em;
  width: 30%;
  border-radius: 4px;
}
/* NOTIFICATION */

/* BODY-GRID */
.content-container
{
  margin-right: auto;
  margin-left: auto;
  width: 70%;
}

.section-line
{
  background-color: white;
  width: 75%;
  height: 4px;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  background-color: #2196F3;
  margin: auto;
}
.grid-item {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  margin: 0.25em;
  aspect-ratio: 5/3;
}
/* BODY-GRID */

/* CHROME SCROLLBAR */
::-webkit-scrollbar
{
  width: 8px;
}

::-webkit-scrollbar-track
{
  background-color: var(--site-transparent-black-color);
}

::-webkit-scrollbar-thumb
{
  background: var(--site-red-color);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover
{
  background: #ec8c8c;
}
/* CHROME SCROLLBAR */

/* GLOBAL VARS */
.unselectable
{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
  -o-user-select:none;
}

.btn
{
  margin-left: auto;
  margin-right: auto;
  background-color: var(--site-red-color);
  color: white;
  width: 6em;
  padding: 0.75em;
  text-align: center;
  transition-duration: 0.0625s;
  cursor: pointer;
  border-radius: 4px;
}

.btn:hover
{
  background-color: #ffa6a6;
  color: var(--site-black-color);
}
/* GLOBAL VARS */

/* MEDIA QUERIES */
@media screen and (max-width: 850px)
{
  .notification-content
  {
    width: 70%;
    padding: 0.5em;
  }
}

@media screen and (max-width: 700px)
{
  .content-container
  {
    width:100%;
  }
}

@media screen and (max-width: 504px)
{
  nav
  {
    overflow: visible;
  }

  nav ul
  {
    display: block;
  }
  
  .full-menu
  {
    font-weight: 300;
    position: absolute;
    font-size: 1.5em;
    display: none;
    right: 0;
    background-color: var(--site-transparent-black-color);
    border-radius: 0px 0px 0px 8px;
    text-align: center;
    z-index: -2;
    border-left: 1px solid var(--site-white-color);
    border-bottom: 1px solid var(--site-white-color);
    overflow: hidden;
  }

  .full-menu li
  {
    display: block;
    padding: 0.25em;
  }

  nav .hamburger-menu
  {
    position: absolute;
    display: block;
    top: 0.525em;
    right: 1em;
  }

  .responsive-show
  {
    display: block;
    animation-name: dropdownShow;
    animation-duration: 0.15s;
    transform-origin: top;
    animation-timing-function:ease-in-out;
  }

  .responsive-hide
  {
    animation-name: dropdownHide;
    animation-duration: 0.15s;
    transform-origin: top;
    animation-timing-function:ease-in-out;
  }
}

@media screen and (max-width: 374px)
{
    footer h2
  {
    font-size: 1em;
  }

  .tooltiptext
  {
    width: 0em;
    margin: 0;
    padding: 0;
    font-size: 0;
    display: none;
    visibility: hidden;
    /*Footer breaks the site otherwise*/
  }

  .prof-btn
  {
    font-size: 0.75em;
  }
} 

@media screen and (max-width: 200px)
{
  nav .spacer
  {
    display: none;
  }
}

@media screen and (max-width: 180px)
{
  nav
  {
    display: none;
  }

  footer
  {
    display: none;
  }

  .notification-content
  {
    font-size: 0.5em;
  }

  .btn
  {
    font-size: 0.5em;
  }
} 

@media screen and (max-height: 257px) and (max-width: 504px)
{
  .full-menu li
  {
    font-size: 0.65em;
  }
}
/* RESPONSIVE DESIGN */

/* ANIMATIONS */
@keyframes dropdownShow {
  0% {
    opacity: 0;
    right: -20px;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}

@keyframes dropdownHide {
  0% {
    opacity: 1;
    right: 0px;
  }
  100% {
    opacity: 0;
    right: -20px;
  }
}
/* ANIMATIONS */