@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer utilities {
    /*
      Chromium browsers don't render nested backdrop filters.
      As a workaround, add 'before:' to the outer filter, along with 'before:backdrop-hack':
  
        <div class="before:backdrop-blur-md before:backdrop-hack>
          <div class="backdrop-blur-md"></div>
        </div>
  
      See https://stackoverflow.com/a/76207141.
    */
    .backdrop-hack {
      @apply absolute inset-0 -z-10;
    }
  }

.c-project-cover {
  @apply text-normal-black self-stretch my-4 rounded-lg  max-h-96 overflow-hidden bg-center bg-cover relative text-4xl border border-solid border-black;
}

.c-project-buttons {
  @apply flex flex-nowrap mt-2 ml-2;
}

.c-project-button {
  @apply flex-initial text-white hover:text-normal-red cursor-pointer border-white border rounded-full bg-black bg-opacity-80 hover:border-normal-red mt-0
  h-12 w-12 text-center relative mr-2 transform hover:scale-105 transition-all;
}

.c-project-button-icon {
  @apply text-xl absolute top-1/2 transform translate-x-0 -translate-y-1/2 left-0 right-0;
}

.c-project-description {
  @apply c-blur overflow-y-auto p-4 text-dark-white bg-black bg-opacity-40 h-1/2 absolute bottom-0 text-left rounded-lg mx-2 mb-2 border border-black;
}

.c-blur {
    backdrop-filter: blur(10px);
    /* filter: blur(10px); */
    /* -webkit-filter: blur(10px); */
}
  
.c-blur-self {
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

.c-navbar {
    @apply z-10 md:sticky md:top-0 rounded-none md:container md:mx-auto md:px-4 md:transition-all md:duration-500 container mx-auto;
}

.c-navmenu {
    @apply z-10 transition-all duration-300 hidden w-1/2
    rounded-xl border-solid border border-black text-center text-xl
    p-4 mt-12 ml-auto fixed right-2 top-7 max-w-md md:inline-block
    md:text-lg md:m-0 md:w-auto md:mx-auto md:rounded-xl
    md:top-2 md:py-1 md:px-1 md:left-0 md:right-0 md:relative md:ml-3;
}

.c-section-base {
    @apply container mx-auto h-full 
    transition-all duration-500;
}