@font-face {
    font-family: PublicSans;
    src: url("../fonts/PublicSans-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: PublicSans;
    src: url("../fonts/PublicSans-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: PublicSans;
    src: url("../fonts/PublicSans-Light.ttf");
    font-weight: 100;
}
  
html {
    font-family: PublicSans;
    scroll-behavior: smooth;
    background-color: #1d1f2b;
    color: #ccc;
}

.responsive-show {
    animation-name: dropdownShow;
    animation-duration: 0.15s;
    display: inline-block;
    transform-origin: top right;
    animation-timing-function: ease-out;
    /* animation-fill-mode: forwards; -- just dont */
}

.responsive-hide {
    animation-name: dropdownHide;
    animation-duration: 0.15s;
    transform-origin: top right;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.active-btn {
  background-color: rgba(247, 61, 61, 255);
  animation-name: btnSelection;
  animation-duration: 0.15s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  color: #0f1119 !important;
}

.active-btn a {
  color: #0f1119 !important;
}

ul li a:hover
{
  color: rgba(247, 61, 61, 255);
}

ul .active-btn:hover {
  background-color: #ffa6a6;
}

@keyframes btnSelection {
  0% {
      transform: scale(1.1);
      display: none;
  }

  40% {
    transform: scale(0.85);
    display: none;
}

  100% {
      transform: scale(1);
      display: inline-block;
  }
}

@keyframes dropdownShow {
  0% {
      opacity: 0;
      transform: scale(0.9);
      display: none;
  }
  100% {
      opacity: 1;
      transform: scale(1);
      display: inline-block;
  }
}

  @keyframes dropdownHide {
    0% {
        opacity: 1;
        transform: scale(1);
        display: inline-block;
    }
    100% {
        opacity: 0;
        transform: scale(0.9);
        display: none;
    }
  }

/* CHROME SCROLLBAR */
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: #0f1119;
  border-left: 1px #1d1f2b solid;
}
 
::-webkit-scrollbar-thumb {
  background: #f73d3d;
  border-left: 1px #1d1f2b solid;
}
::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}
/* CHROME SCROLLBAR */

.unselectable {
    -webkit-user-select: none;  
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

*, *::after, *::before {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;    
}

#introduction {
  margin-top: 76px;
}

section {
  padding: 12px;
}

#block-portfolio {
  background: rgb(200,53,169);
  background: linear-gradient(90deg, rgba(200,53,169,1) 0%, rgba(84,47,173,1) 38%, rgba(0,212,255,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (min-width: 768px) {
  nav {
    margin-top: -68px;
  }
}

.fancy-border {
  border-color: linear-gradient(90deg, rgba(200,53,169,1) 0%, rgba(84,47,173,1) 38%, rgba(0,212,255,1) 100%);
}

/* #3c3f4d */